@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f0f2f5;
}

.dashboard-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: 100px auto;
  text-align: center;
}

.dashboard-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.dashboard-container h2 {
  margin-bottom: 30px;
  color: #555;
  font-weight: normal;
}

.dashboard-container button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dashboard-container button:hover {
  background-color: #a71d2a;
}
